* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	width: 100%;
	height: 100%;
	background: #123;
	margin: 0 auto 0;
	font-family: sans-serif;
	border-top: solid 6px #006a50;
}

header {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: sans-serif;
	background: #234;
}

h1 {
	display: inline-block;
	margin: 0;
}

#regal {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
}

#button {
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 100%;
	box-shadow: none;
	background: red;
}

#button::-moz-focus-inner { border: 0; }

#game { background: #456; }

#stats {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #345;
}

#map {
	position: relative;
	width: 100vw;
	width: 100%;
	height: calc(100vh - 96px);
}

#map-bg {
	position: absolute;
	width: 100%;
	height: 100%;
}
