body {
	color: #fff;
	background: #123;
	margin: 0;
	font-family: sans-serif;
	border-top: solid 6px #006a50;
}

header, footer {
	background: #234;
	text-align: center;
	font-size: small;
	font-family: monospace;
}

header {
	height: 60px;
	line-height: 60px;
}

header img {
	position: absolute;
	left: 0;
}

footer {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 12px;
}

main {
	background: #345;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 12px;
}

article {
	background: #456;
	padding: 12px;
	margin-top: 12px;
}

time { font-size: small; }

span.address { font-family: monospace; }

a:link, a:hover, a:visited {
	color: white;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
